{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Exercise{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class = "radio-button-bank">
        <input type="radio" name="muscle-groups" id="o1" value= "Chest">Chest</input>
        <input type="radio" name="muscle-groups" id="o2" value= "Arms">Arms</input>
        <input type="radio" name="muscle-groups" id="o3" value= "Back">Back</input>
        <input type="radio" name="muscle-groups" id="o4" value= "Legs">Legs</input>
    </div>
    <div class = "input-area-bank">
        <input title="Email" placeholder="Exercise Name" type="text" name="exercise_name" required><br>
        <input title="Email" placeholder="Number of Sets" type="number" name="num_of_sets" required><br>
        <input title="Email" placeholder="Number of Reps" type="text" name="num_of_reps" required><br>
        <input title="Email" placeholder="Amount of Weight" type="text" name="amt_weight" required><br>
        <button type="submit" method="POST">Add</button>
    </div>
  </form>
{% endblock %}