{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Exercise{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class = "radio-button-bank">
        <input type="radio" name="muscle-groups" id="o1" value= "Chest"required>Chest</input>
        <input type="radio" name="muscle-groups" id="o2" value= "Arms"required>Arms</input>
        <input type="radio" name="muscle-groups" id="o3" value= "Back"required>Back</input>
        <input type="radio" name="muscle-groups" id="o4" value= "Legs"required>Legs</input>
    </div>
    <div class = "input-area-bank">
        <input title="Email" placeholder="Exercise Name" type="text" name="exercise_name" required><br>
        <input title="Email" placeholder="Number of Sets" type="number" name="num_of_sets" required min=1 max = 100><br>
        <input title="Email" placeholder="Number of Reps" type="text" name="num_of_reps" required min=1 max = 100><br>
        <input title="Email" placeholder="Amount of Weight" type="text" name="amt_weight" required min=1 max = 1000><br>
        <button type="submit" method="POST">Add</button>
    </div>
  </form>
{% endblock %}