{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search By Muscle Group{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="radio-button-bank">
    <input type="radio" name="muscle-groups" id="o1" value= "Chest"></input>
    <label for="muscle-groups">Chest</label> <br>
    <input type="radio" name="muscle-groups" id="o2" value= "Arms"></input>
    <label for="muscle-groups">Arms</label> <br>
    <input type="radio" name="muscle-groups" id="o3" value= "Back"></input>
    <label for="muscle-groups">Back</label> <br>
    <input type="radio" name="muscle-groups" id="o4" value= "Legs"></input>
    <label for="muscle-groups">Legs</label> <br>
    <button type="submit" method="POST" >Search</button>
    </div>
</form>
{% endblock %}